# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Temporary files and logs
*.log
lint_out.txt
lint_output.txt
lint_output_utf8.txt